.title {
    font-size: 70px;
    color:rgb(135, 218, 243);
    text-decoration: underline;
}

.box {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    margin: 50px;
    border-radius: 40px;
    gap: 100px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 100px;
    margin: 100px;
    border-radius: 40px;
    gap: 100px;
    height: 200px;
   border: 10px solid black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 80px;
    margin: 50px;
    border-radius: 40px;
    gap: 30px;
    height: 200px;
    border: 10px solid black;
    text-align: center 
}

.bg {
    background-color: rgb(8, 11, 54);

}

.text {
    color: white;
    font-size: 50px;
    text-decoration: underline;
}

.link {
    font-size: 50px;
    
}
.taille {
    font-size: 40px;
}

.radius {
    border-radius: 40px;
}
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 100px;
    margin: 50px;
    border-radius: 40px;
    gap: 50px;
}
.Name {
    color: white;
    font-size: 30px;
}
  .footer-pokemon {
  background-color: #ffcb05;
  color: #3b4cca;
  text-align: center;
  padding: 10px;
  border-radius: 50pxs;
}

.footer-pokemon p {
  font-size: 50px;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

